body{
  overflow-x: hidden;
}
.container{
  width:100%;
  height:1200px;
  margin:0px;
  padding:0px;
}
.container .header{
  background-image: url("../img/background/landing.jpg");
  height:400px;

}

}
.logo{
  /* margin-left: 30%; */
}
.party{
  background-color: #F15A29;
  margin-right: 85%;
  padding: 10px;
}

.happy{
  background-color: white;
  margin-right: 85%;
  padding: 10px;
}
.break{
  background-image:url("../img/breakfast.jpg");
  height: 100px;
}
.typeof{
text-decoration: none;
}
h5{
  text-align: center;
}
h3{
  text-align: center;
}
h4{
  text-align: center;
}
#text3{
  float: left;
}
